@import "./reset.css";

* {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-style: normal;
    line-height: 100%;
}

html {
    scrollbar-color: #4d9f3d7c #00000010;
    scrollbar-width: auto;
}

body {
    background-color: #151515;
    color: #F1F1F1;
    width: 100vw;
    height: 100vh;

}

.container {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1440px;
    /* min-width: 466px; */
    margin: 0 auto;
    padding: 0 5%;
}

#bgimage {
    width: 640px;
}

/* Header */

.logo {
    min-width: 128px;
}

header {
    padding: 0 5vw;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* margin: 0 auto; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 64px;
    max-width: 1440px;
    min-width: auto;
    height: 100px;
    padding: 0 40px;
    margin: 0 auto;
    border-radius: 0px 0px 24px 24px;
    background: rgba(45, 45, 45, 0.20);
    backdrop-filter: blur(25px);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.lang {
    display: inline-flex;
    padding: 12px 10px 12px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgba(45, 45, 45, 0.20);
    backdrop-filter: blur(25px);
    font-size: 3em;
}

.burger {
    width: 48px;
    height: 48px;
    background-size: cover;
    display: inline;
}

/* Content block */

.textblock {
    margin-top: 64px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    background: rgba(45, 45, 45, 0.20);
    backdrop-filter: blur(25px);
    padding: 24px 28px;
    margin-top: 40px;
    /* max-width: 480px; */
    width: auto;
}

.block.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    /* min-width: 480px; */
    width: auto;
}

h1 {
    font-size: 6em;
    font-weight: 600;
}

h2 {
    font-size: 6em;
    font-weight: 600;
    text-align: center;
}

p {
    font-size: 3em;
}

p.colored {
    color: #4E9F3D;
}

/* Footer */

footer {
    margin-top: 64px;
    padding: 0 5vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 64px;
    max-width: 1440px;
    min-width: auto;
    height: 50px;
    padding: 0 40px;
    margin: 0 auto;
    border-radius: 24px 24px 0 0;
    background: rgba(45, 45, 45, 0.20);
    backdrop-filter: blur(25px);
    font-size: 0.6em;
}

.socials {
    display: flex;
    gap: 24px;
}